In [ ]:
"""
The Dataset Involves Data of Tourists visiting state wise in years 2016,2017,2018,2019
For This task ,Only 1000 Rows of the dataset was used.
Also, At each step , Explanation is provided in the form of comments
"""

In [1]:
#importing necessary library 
import pandas as pd

In [2]:
#Reading the CSV file
df=pd.read_csv('MOCK_DATA.csv')

In [3]:
#Printing first 15 Rows of the Dataset
df.head(15)

,id,Visited_states,Guide_taken,Visitor_country,Hotels,Name_of_visitor,Year of Visit
0,1,Delhi,Yes,China,Budget-hotels,Rodolfo,2019
1,2,Chattisgarh,Yes,France,Mid-range hotels,Robenia,2019
2,3,Bihar,Yes,Russia,Resorts,Lolly,2018
3,4,Sikkim,Yes,China,Mid-range hotels,Caresse,2016
4,5,Jharkhand,Yes,China,Resorts,Etty,2017
5,6,Andhra pradesh,No,China,Mid-range hotels,Northrop,2019
6,7,Tripura,No,China,Mid-range hotels,Denna,2016
7,8,Sikkim,Yes,France,Mid-range hotels,Starlin,2017
8,9,Tripura,No,Russia,Budget-hotels,Bertina,2019
9,10,Nagaland,Yes,China,Resorts,Abbe,2017
10,11,Nagaland,Yes,China,Budget-hotels,Junie,2017
11,12,Karnataka,No,China,Budget-hotels,Jefferey,2017
12,13,Goa,Yes,China,Budget-hotels,Wake,2018
13,14,Telangana,No,China,Resorts,Cobb,2016
14,15,Goa,No,Japan,Resorts,Shellie,2019

In [4]:
#Printing information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   Visited_states   1000 non-null   object
 2   Guide_taken      1000 non-null   object
 3   Visitor_country  1000 non-null   object
 4   Hotels           1000 non-null   object
 5   Name_of_visitor  1000 non-null   object
 6   Year of Visit    1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [5]:
#Giving Description of Dataset
df.describe()

                id  Year of Visit
count  1000.000000    1000.000000
mean    500.500000    2017.568000
std     288.819436       1.109327
min       1.000000    2016.000000
25%     250.750000    2017.000000
50%     500.500000    2018.000000
75%     750.250000    2019.000000
max    1000.000000    2019.000000

In [6]:
#Printing the max Visited state
df['Visited_states'].max()

'West Bengal'

In [7]:
#Creating a new dataframe and Showing the number of people Visiting Mentioned cities 
g1 = df.groupby(["Visited_states"]).size().reset_index(name='Number of people')
g1

       Visited_states  Number of people
0      Andhra pradesh                30
1   Arunachal Pradesh                30
2               Assam                33
3               Bihar                41
4         Chattisgarh                30
5               Delhi                38
6                 Goa                35
7             Gujarat                31
8             Haryana                49
9    Himachal Pradesh                31
10  Jammu and Kashmir                26
11          Jharkhand                41
12          Karnataka                34
13             Kerala                34
14     Madhya Pradesh                30
15        Maharashtra                34
16          Meghalaya                43
17            Mizoram                26
18           Nagaland                33
19             Orissa                31
20             Punjab                23
21          Rajasthan                44
22             Sikkim                36
23         Tamil nadu                51
24          Telangana                38
25            Tripura                31
26      Uttar Pradesh                30
27        Uttarakhand                42
28        West Bengal                25

In [8]:
#Displaying how many no. of people who visited Delhi took Guide and how many didn't
df.loc[df["Visited_states"] == "Delhi", "Guide_taken"].value_counts()

Yes    21
No     17
Name: Guide_taken, dtype: int64

In [9]:
#Displaying the count of each type of Hotels Booked by people visiting Haryana
df.loc[df["Visited_states"] == "Haryana", "Hotels"].value_counts()

Resorts             18
Budget-hotels       16
Mid-range hotels    15
Name: Hotels, dtype: int64

In [10]:
#Displaying Country from which Maximum tourists came
df['Visitor_country'].max()

'South Africa'

In [11]:
#Diplaying year in which most number of visitors came 
df['Year of Visit'].max()

2019

In [12]:
#Displaying maximum preferred hotel
df['Hotels'].max()

'Resorts'

In [13]:
#Displaying average number of tourists wrt cities
g1['Number of people'].mean()

34.48275862068966

In [14]:
#Diplaying list of Visitors from South Africa
df.loc[df["Visitor_country"] == "South Africa", "Name_of_visitor"]

159          Alfy
188       Garrard
261         Margi
345     Guglielmo
419      Laurence
436      Vincenty
458       Lyndell
484       Hilario
542     Elbertina
562          Vere
579       Daphene
604       Robinia
651      Taddeusz
738    Anna-diane
841         Colas
919          Elsi
942        Dreddy
956         Irvin
Name: Name_of_visitor, dtype: object